@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Droid Sans Mono', monospace;
  text-transform: uppercase;
  background: #47AFF5;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
      -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
}

#content {
  font-size: 1em;
  padding: 1em;
  padding-right: 0;
}

* {
  -webkit-box-sizing: border-box;
     -mox-box-sizing: border-box;
          box-sizing: border-box;
}

.prefix, .word {
  display: inline-block;
  margin: 0;
}

.letter {
  font-size: 5em;
  display: inline-block;
  width: 0.9em;
  height: 1.4em;
  line-height: 1.25em;
  position: relative;
  margin: 0 0.05em 0 0;
  text-align: center;
  -webkit-perspective: 800px;
     -moz-perspective: 800px;
       -o-perspective: 800px;
          perspective: 800px;
}

.flipper, .flipper > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipper {
  -webkit-transition: -webkit-transform 1s;
     -moz-transition: -moz-transform 1s;
       -o-transition: -o-transform 1s;
          transition: transform 1s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flipper > * {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
  border: 0.05em solid #000;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(0, 0, 0, 0.15);
  font-weight: 400;
}

.prefix .flipper > * {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.15);
  font-weight: 700;
}

.letter .back {
  -webkit-transform: rotateX(180deg);
     -moz-transform: rotateX(180deg);
       -o-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.letter .empty {
  background: none !important;
  border: none !important;
}

/* add this class to start the animation */
.flipped .flipper {
  -webkit-transform: rotateX(180deg);
     -moz-transform: rotateX(180deg);
       -o-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

/* Wow this crap is verbose */
.flipped .flipper .front:not(.empty) {
  -webkit-animation: flip-front 1s;
     -moz-animation: flip-front 1s;
       -o-animation: flip-front 1s;
          animation: flip-front 1s;
}

.flipped .flipper .back:not(.empty) {
  -webkit-animation: flip-back 1s;
     -moz-animation: flip-back 1s;
       -o-animation: flip-back 1s;
          animation: flip-back 1s;
}

.prefix .flipped .flipper .back:not(.empty) {
  -webkit-animation: flip-back-prefix 1s;
     -moz-animation: flip-back-prefix 1s;
       -o-animation: flip-back-prefix 1s;
          animation: flip-back-prefix 1s;
}

@-webkit-keyframes flip-front {
  0%  { background-color: rgba(255, 255, 255, 0.1); }
  50% { background-color: rgba(255, 255, 255, 0.5); }
}
@-webkit-keyframes flip-back {
  50%  { background-color: rgba(255, 255, 255, 0.5); }
  100% { background-color: rgba(255, 255, 255, 0.1); }
}
@-webkit-keyframes flip-back-prefix {
  50%  { background-color: rgba(255, 255, 255, 0.5); }
  100% { background-color: rgba(0, 0, 0, 0.2); }
}

@-moz-keyframes flip-front {
  0%  { background-color: rgba(255, 255, 255, 0.1); }
  50% { background-color: rgba(255, 255, 255, 0.5); }
}
@-moz-keyframes flip-back {
  50%  { background-color: rgba(255, 255, 255, 0.5); }
  100% { background-color: rgba(255, 255, 255, 0.1); }
}
@-moz-keyframes flip-back-prefix {
  50%  { background-color: rgba(255, 255, 255, 0.5); }
  100% { background-color: rgba(0, 0, 0, 0.2); }
}

@keyframes flip-front {
  0%  { background-color: rgba(255, 255, 255, 0.1); }
  50% { background-color: rgba(255, 255, 255, 0.5); }
}
@keyframes flip-back {
  50%  { background-color: rgba(255, 255, 255, 0.5); }
  100% { background-color: rgba(255, 255, 255, 0.1); }
}
@keyframes flip-back-prefix {
  50%  { background-color: rgba(255, 255, 255, 0.5); }
  100% { background-color: rgba(0, 0, 0, 0.2); }
}

#footer {
  font-size: 0.8em;
  margin-top: 2em;
}

#footer a {
  color: #000;
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}
