@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Droid\+Sans\+Mono')
global-reset()

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Droid Sans Mono', monospace;
  text-transform: uppercase;
  background: #777;
  display: flex;
  align-items: center;
}

#content {
  display: none;
  font-size: 1em;
  padding: 1em;
  padding-right: 0;
}

body.init #content {
  display: block;
}

* {
  box-sizing border-box;
}

.prefix, .suffix {
  display: inline-block;
  margin: 0;
}

.letter {
  font-size: 5em;
  display: inline-block;
  width: 0.9em;
  height: 1.4em;
  line-height: 1.25em;
  position: relative;
  margin: 0 0.05em 0 0;
  text-align: center;
  perspective: 800px;
}

.flipper, .flipper > * {
  position: absolute;
  width: 100%;
  height: 100%;
}

.flipper {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.flipper > * {
  backface-visibility: hidden;
  border: 0.05em solid #000;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(0, 0, 0, 0.15);
  font-weight: 400;
}

.prefix .flipper > * {
  background-color: rgba(0, 0, 0, 0.2);
  border-color: rgba(0, 0, 0, 0.15);
  font-weight: 700;
}

.letter .back {
  transform: rotateX(180deg);
}

.letter .empty {
  background: none !important;
  border: none !important;
}

/* add this class to start the animation */
.flipped .flipper {
  transform: rotateX(180deg);
}

/* Wow this crap is verbose */
.flipped .flipper .front:not(.empty) {
  animation: flip-front 1s;
}

.flipped .flipper .back:not(.empty) {
  animation: flip-back 1s;
}

.prefix .flipped .flipper .back:not(.empty) {
  animation: flip-back-prefix 1s;
}

@keyframes flip-front {
  0%  { background-color: rgba(255, 255, 255, 0.1); }
  50% { background-color: rgba(255, 255, 255, 0.5); }
}
@keyframes flip-back {
  50%  { background-color: rgba(255, 255, 255, 0.5); }
  100% { background-color: rgba(255, 255, 255, 0.1); }
}
@keyframes flip-back-prefix {
  50%  { background-color: rgba(255, 255, 255, 0.5); }
  100% { background-color: rgba(0, 0, 0, 0.2); }
}

#footer {
  font-size: 0.8em;
  margin-top: 2em;
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


