!!! 5
html(lang='en')
  head
    title=config.title
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    link(href='app.css', rel='stylesheet', type='text/css', media='all')
    //if lt IE 9
      script(src='//html5shiv.googlecode.com/svn/trunk/html5.js')
  body
    script
      // Yay for HSL!
      document.body.style.background = "hsl(" + (Math.random() * 360) + ", 90%, 60%)";
    div#content
      div#first
        div.prefix
        div.suffix
      div#last
        div.prefix
        div.suffix
      div#footer
        a(href='http://wesbos.com/') Wes Bos
        =' by '
        a(href='http://benalman.com/') "Cowboy" Ben Alman
        =' / '
        a(href='https://github.com/cowboy/wesbos') Source &amp; Backstory
    if debug === true
      script(src="http://localhost:35729/livereload.js")
      script(data-main="../config/requirejs", src="../components/requirejs/require.js")
    else
      script(src="app.js")
